<html>
    <head>
        <title>Air Bnb Scraper</title>
    </head>
    <body>
        <p>Shows first 18 results</p>
        <form action="/" method="POST">
            <input type="text" name="place" placeholder="Enter a Place">
            <button>Submit</button>
        </form>      
    </body>
</html>